/* Tablet */
@media (max-width: 1229px) {
	.container {
		width: 900px;
	}
}

/* Mobile */
@media (max-width: 929px) {
    .container {
		width: 630px;
	}
}

/* Mobile XS */
@media (max-width: 629px) {
	.container {
		width: 320px;
	}
}